.content{
  background-image: url('https://images.unsplash.com/photo-1502208327471-d5dde4d78995?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=2000');

}
#heading{
  color:red;
  text-align:center;
}
#heading2{
  color:black;
  text-align: center;
}
 .navbar-brand{
   color:lightpink;
 }
    

